/* ==========================================================================
#MODAL
========================================================================== */

.o-width {
  &--full-width {
    width: 100%;
  }

  &--max-width-380 {
    max-width: 38rem;
  }
  &--ten {
    width: 10%
  }
  &--twenty {
    width: 20%
  }
  &--fourty-eight {
    width: 48%
  }
  &--seventy {
    width: 70%
  }
}
